default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: <%= ENV.fetch("POSTGRES_USER", "postgres") %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD", "password") %>
  database: <%= ENV.fetch("POSTGRES_DB", "juku_cloud_backend_development") %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>

development:
  <<: *default

test:
  <<: *default
  database: juku_cloud_backend_test

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  # 以下はAWS RDS接続時に使用します。
  # host:     <%= ENV["DB_HOST"] || "localhost" %>
  # port:     <%= ENV.fetch("DB_PORT", 5432) %>
  # database: <%= ENV["DB_NAME"] || "app_production" %>
  # username: <%= ENV["DB_USERNAME"] || "postgres" %>
  # password: <%= ENV["DB_PASSWORD"] || "" %>
  # sslmode:  <%= ENV["DB_SSLMODE"] || "require" %>
  # prepared_statements: true
  # reaping_frequency: <%= ENV["DB_REAP_FREQ"] || 10 %>
